@use "@SCSS/config/" as *;

.indicators {
    position: relative;
    z-index: $z-index-player-indicators;
    width: 100%;
    height: 100%;

    .indicator {
        &-playing,
        &-rewind,
        &-forward {
            position: absolute;
            padding: 15px;
            border-radius: $border-radius-circle;
            background-color: $color-transparent-darkest;
            font-size: 1.5rem;
            transform: translate(-50%, -50%);
            transform-origin: left top;
            
            &.icon-play {
                padding-right: 13px;
                padding-left: 17px;
            }
        }
        
        &-playing {
            top: 50%;
            left: 50%;
        }

        &-rewind {
            top: 50%;
            left: 15%;
            
            &.icon-play {
                rotate: 180deg;
            }
        }

        &-forward {
            top: 50%;
            left: 85%;
        }
    }
}