@use "../../config/" as *;

.player-ambilight {
    z-index: $z-index-player-ambilight;
    box-shadow: 0 0 80px rgb(0 0 0 / 0%);
    filter: blur(80px) opacity(0.15) saturate(100%);
    transform: scale(1.5) translateZ(0);
    pointer-events: none;
}