@use "../../config/" as *;

.player-overlay {
    z-index: $z-index-player-overlay;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
    padding: 15px;
    border-radius: $border-radius-8;
    background: linear-gradient(to top, rgba($color-black, .75) 0%, transparent 25%);
}