$icon-chevron-down: "\e900";
$icon-chevron-up: "\e901";
$icon-circle-user: "\e902";
$icon-external-link: "\e903";
$icon-fullscreen: "\e904";
$icon-lock: "\e905";
$icon-lock-open: "\e906";
$icon-pause: "\e907";
$icon-picture-in-picture: "\e908";
$icon-play: "\e909";
$icon-plus: "\e90a";
$icon-power-off: "\e90b";
$icon-search: "\e90c";
$icon-settings: "\e90d";
$icon-shuffle: "\e90e";
$icon-trash: "\e90f";
$icon-volume-high: "\e910";
$icon-volume-low: "\e911";
$icon-volume-off: "\e912";
$icon-volume-x: "\e913";
$icon-x: "\e914";