$icon-expand: "\e900";
$icon-gear: "\e901";
$icon-volume-xmark: "\e902";
$icon-volume-high: "\e903";
$icon-volume-low: "\e904";
$icon-volume-off: "\e905";
$icon-pause: "\e906";
$icon-play: "\e907";