$content-width: 1600px;

$z-index-player-ambilight: -1;
$z-index-player-iframe: 0;
$z-index-player-indicators: 1;
$z-index-player-overlay: 2;
$z-index-player-mute: 3;
$z-index-player-search: 4;
$z-index-player-header: 5;