@use "./color.scss" as *;

$border-radius-4: 4px;
$border-radius-8: 8px;
$border-radius-25: 25px;
$border-radius-35: 35px;
$border-radius-circle: 50%;

$button-color: $color-grey-28;
$button-color-font: $color-white;
$button-color-hover: $color-grey-3F;
$button-color-transparent: hsl(0deg 0% 100% / 8%);
$button-color-transparent-border: hsl(0deg 0% 18.82%);