@use "@SCSS/config/" as *;

html:has(#pip),
body:has(#pip) {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#pip {
    width: 100%;
    height: 100%;

    .player {
        width: 100%;
        height: 100%;
        aspect-ratio: inherit;

        &-overlay,
        &-iframe {
            border-radius: 0;
        }
    }
}