@use "@SCSS/config/" as *;

.information {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: $border-radius-8;
    background-color: $color-transparent-dark;

    &-top {
        &-title {
            font-size: $font-size-large;
            font-weight: $font-weight-medium;
            line-height: $line-height-large;

            @include max-lines(2);
        }

        &-views {
            font-size: $font-size-small;
            color: $font-color-light;
        }
    }

    &-bottom {
        display: flex;
        justify-content: space-between;
        gap: 15px;

        &-channel {
            display: flex;
            align-items: center;
            gap: 10px;
            color: $font-color;
            text-decoration: none;

            img {
                width: 42px;
                height: 42px;
                border-radius: $border-radius-circle;
            }

            &-name {
                font-weight: $font-weight-medium;

                @include max-lines(1);
            }

            &-subscribers {
                font-size: $font-size-small;
                color: $font-color-light;
            }

            &:hover,
            &:active {
                cursor: pointer;
            }

            &:visited {
                color: $font-color;
                text-decoration: none;
            }
        }

        &-buttons {
            display: flex;
            align-items: center;
            gap: 10px;

            a,
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px 15px;
                border: none;
                border-radius: $border-radius-25;
                background-color: $color-transparent-light;
                font-family: $font-family-poppins !important;
                color: $font-color;
                text-decoration: none;

                &.active {
                    background-color: $color-transparent-active;
                }

                &::before {
                    margin-right: 7px;
                    font-family: $font-family-icon !important;
                }

                &:hover {
                    background-color: $color-transparent-active;
                    cursor: pointer;
                }

                &:visited {
                    color: $font-color;
                    text-decoration: none;
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-phone) {
    .information {
        &-bottom {
            flex-direction: column;
        }
    }
}