$color-black: #000;
$color-white: #F1F1F1;
$color-grey-AA: #AAA;
$color-grey-3F: #3F3F3F;
$color-grey-28: #282828;
$color-grey-21: #212121;
$color-grey-0C: #0C0C0C;

$color-primary: #00A6FB;

$color-yellow: #FF0;

$color-transparent-darkest: rgba($color-grey-0C, .75);
$color-transparent-darker: rgba($color-grey-0C, .5);
$color-transparent-dark: rgba($color-grey-21, .5);
$color-transparent-light: rgba($color-grey-3F, .5);
$color-transparent-active: rgba($color-grey-AA, .3);