$icon-xmark: "\e917";
$icon-lock: "\e915";
$icon-unlock: "\e916";
$icon-bolt-lightning: "\e914";
$icon-circle-user: "\e913";
$icon-broom: "\e911";
$icon-shuffle: "\e912";
$icon-magnifying-glass: "\e910";
$icon-youtube-brands: "\e90f";
$icon-shield-halved: "\e90c";
$icon-rotate: "\e90d";
$icon-arrow-up-right-from-square: "\e90e";
$icon-trash-can: "\e908";
$icon-chevron-down: "\e909";
$icon-chevron-up: "\e90a";
$icon-plus: "\e90b";
$icon-expand: "\e900";
$icon-gear: "\e901";
$icon-volume-xmark: "\e902";
$icon-volume-high: "\e903";
$icon-volume-low: "\e904";
$icon-volume-off: "\e905";
$icon-pause: "\e906";
$icon-play: "\e907";