@import "./color.scss";

$font-family-poppins: "Poppins";
$font-family-roboto-mono: "Roboto Mono";
$font-family-icon: "IcoMoon";

$font-weight: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-color: $color-white;
$font-color-light: $color-grey-AA;

$font-size: 14px;
$font-size-small: 12px;
$font-size-large: 22px;

$line-height: 16px;
$line-height-small: 14px;
$line-height-large: 28px;