@use "@SCSS/config/" as *;

$range-slider-progress: $color-primary;
$range-slider-background: linear-gradient(0deg, transparent 25%, rgba($color-white, .4) 25%, rgba($color-white, .4) 75%, transparent 75%);
$range-slider-background-hover: linear-gradient(0deg, transparent 25%, rgba($color-white, .6) 25%, rgba($color-white, .6) 75%, transparent 75%);

.player-overlay-timeline {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 15px 15px 5px;

    .range-slider {
        flex-grow: 1;
        height: 8px;
        background: $range-slider-background;

        .range-slider__thumb[data-lower] {
            width: 0;
        }

        .range-slider__thumb[data-upper] {
            width: 10px;
            height: 10px;
            background: $range-slider-progress;
        }

        .range-slider__range {
            height: 50%;
            border-radius: $border-radius-8;
            background: $range-slider-progress;
        }

        &:hover {
            background: $range-slider-background-hover;
        }
    }

    &-tooltip {
        position: absolute;
        bottom: 20px;
        padding: 5px 10px;
        border-radius: $border-radius-8;
        background: $color-transparent-darkest;
        font-family: $font-family-roboto-mono;
        pointer-events: none;
        transform: translateX(-50%);
    }
}