@use "../../../../config/" as *;

.player-overlay-control {
    button {
        width: 32px;
        margin: 0;
        padding: 6px;
        border: none;
        background-color: transparent;
        font-size: 1.1rem;
        color: $color-white;

        &:hover {
            cursor: pointer;
        }

        &:last-child {
            justify-self: flex-end;
        }
    }
}