@use "../config/";

.button {
    border: 1px solid $button-color-transparent-border;
    border-radius: $border-radius-8;
    background-color: $button-color-transparent;
    color: $button-color-font;
    text-decoration: none;
    
    &:hover,
    &:active {
        background-color: $button-color-hover;
        text-decoration: none;
    }
    
    &:visited {
        color: $button-color-font;
    }
}