@use "@SCSS/config/" as *;

@use "@FONT/icomoon/style.css";

@font-face {
    font-family: $font-family-icon;
    font-style: normal;
    font-weight: normal;
    src: url("@FONT/icomoon/fonts/icomoon.eot");
    src: url("@FONT/icomoon/fonts/icomoon.eot") format("embedded-opentype"),
        url("@FONT/icomoon/fonts/icomoon.ttf") format("truetype"),
        url("@FONT/icomoon/fonts/icomoon.woff") format("woff"),
        url("@FONT/icomoon/fonts/icomoon.svg") format("svg");
}

@font-face {
    font-family: $font-family-poppins;
    font-style: normal;
    font-weight: 400;
    src: url("@FONT/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: $font-family-poppins;
    font-style: normal;
    font-weight: 500;
    src: url("@FONT/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: $font-family-poppins;
    font-style: normal;
    font-weight: 700;
    src: url("@FONT/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: $font-family-roboto-mono;
    font-style: normal;
    font-weight: 400;
    src: url("@FONT/RobotoMono-Regular.ttf") format("truetype");
}