.fade {
    &-enter {
        opacity: 0;

        &-active {
            opacity: 1;
            transition: opacity 200ms;
        }
    }
    
    &-exit {
        opacity: 1;

        &-active {
            opacity: 0;
            transition: opacity 200ms;
        }
    }
    
}

.scale {
    &-enter {
        opacity: 0;
        scale: 1;

        &-done {
            scale: 2;
            opacity: .5;
            transition: opacity 150ms linear, scale 150ms linear;
        }
    }
    
    &-exit {
        opacity: .5;
        scale: 2;

        &-active {
            opacity: 0;
            transition: opacity 100ms linear;
        }
    }
    
}